[tool.poetry]
name = "GitHubKit"
version = "0.8.2"
description = "GitHub SDK for Python"
authors = ["yanyongyu <yyy@yyydl.top>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/yanyongyu/githubkit"
repository = "https://github.com/yanyongyu/githubkit"
documentation = "https://github.com/yanyongyu/githubkit"
keywords = ["github", "octokit"]
include = ["githubkit/py.typed"]

[tool.poetry.dependencies]
python = "^3.8"
pydantic = "^1.9.1"
httpx = ">=0.23.0, <1.0.0"
typing-extensions = "^4.3.0"
anyio = { version = "^3.6.1", optional = true }
PyJWT = { version = "^2.4.0", optional = true }
cryptography = { version = "^37.0.4", optional = true }

[tool.poetry.group.dev.dependencies]
tomli = "^2.0.1"
isort = "^5.10.1"
black = "^22.3.0"
Jinja2 = "^3.1.2"
nonemoji = "^0.1.2"
jsonpointer = "^2.3"
pre-commit = "^2.16.0"
openapi-schema-pydantic = "^1.2.4"

[tool.poetry.extras]
jwt = ["PyJWT", "cryptography"]
auth-app = ["PyJWT", "cryptography"]
auth-oauth-device = ["anyio"]
auth = ["PyJWT", "cryptography", "anyio"]
all = ["PyJWT", "cryptography", "anyio"]

[tool.black]
line-length = 88
target-version = ["py38", "py39", "py310"]
include = '\.pyi?$'
extend-exclude = '''
'''

[tool.isort]
profile = "black"
line_length = 88
length_sort = true
skip_gitignore = true
force_sort_within_sections = true
extra_standard_library = ["typing_extensions"]

[tool.pyright]
reportPrivateImportUsage = false

[tool.codegen]
rest-descrition-source = "https://raw.githubusercontent.com/github/rest-api-description/main/descriptions-next/api.github.com/api.github.com.json"
webhook-schema-source = "https://unpkg.com/@octokit/webhooks-schemas/schema.json"
client-output = "githubkit/rest/"
webhooks-output = "githubkit/webhooks/models.py"
webhook-types-output = "githubkit/webhooks/types.py"

[tool.codegen.field-overrides]
"+1" = "plus_one"
"-1" = "minus_one"

[tool.codegen.schema-overrides]
"/components/schemas/labeled-issue-event/properties/event" = { const = "labeled" }
"/components/schemas/unlabeled-issue-event/properties/event" = { const = "unlabeled" }
"/components/schemas/milestoned-issue-event/properties/event" = { const = "milestoned" }
"/components/schemas/demilestoned-issue-event/properties/event" = { const = "demilestoned" }
"/components/schemas/renamed-issue-event/properties/event" = { const = "renamed" }
"/components/schemas/review-requested-issue-event/properties/event" = { const = "review_requested" }
"/components/schemas/review-request-removed-issue-event/properties/event" = { const = "review_request_removed" }
"/components/schemas/review-dismissed-issue-event/properties/event" = { const = "review_dismissed" }
"/components/schemas/locked-issue-event/properties/event" = { const = "locked" }
"/components/schemas/added-to-project-issue-event/properties/event" = { const = "added_to_project" }
"/components/schemas/moved-column-in-project-issue-event/properties/event" = { const = "moved_columns_in_project" }
"/components/schemas/removed-from-project-issue-event/properties/event" = { const = "removed_from_project" }
"/components/schemas/converted-note-to-issue-issue-event/properties/event" = { const = "converted_note_to_issue" }
"/components/schemas/timeline-comment-event/properties/event" = { const = "commented" }
"/components/schemas/timeline-cross-referenced-event/properties/event" = { const = "cross-referenced" }
"/components/schemas/timeline-committed-event/properties/event" = { const = "committed" }
"/components/schemas/timeline-reviewed-event/properties/event" = { const = "reviewed" }
"/components/schemas/timeline-line-commented-event/properties/event" = { const = "line_commented" }
"/components/schemas/timeline-commit-commented-event/properties/event" = { const = "commit_commented" }
"/components/schemas/timeline-assigned-issue-event/properties/event" = { const = "assigned" }
"/components/schemas/timeline-unassigned-issue-event/properties/event" = { const = "unassigned" }

# https://github.com/github/rest-api-description/issues/1639
"/components/schemas/issue/properties/body_text" = { type = ["string", "null"] }
"/components/schemas/issue/properties/body_html" = { type = ["string", "null"] }


[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
