{% from "header.jinja" import header %}

"""{{ header() }}"""

from typing import TYPE_CHECKING

if TYPE_CHECKING:
    {% for name in model_names %}
    from {{ output_module }}.{{ latest_version_module }}.types import {{ name }}Type as {{ name }}Type
    {% endfor %}
else:
    __lazy_vars__ = {
        "{{ output_module }}.{{ latest_version_module }}.types": (
            {% for name in model_names %}
            "{{ name }}Type",
            {% endfor %}
        )
    }
