{% from "models/_docstring.py.jinja" import build_model_docstring %}


{% macro build_model(model) %}
class {{ model.class_name }}({{ "ExtraGitHubModel" if model.allow_extra else "GitHubModel" }}):
    {{ build_model_docstring(model) | indent(4) }}

    {% for prop in model.properties %}
    {{ prop.get_model_defination() }}
    {% endfor %}
{% endmacro %}
