{% from "header.jinja" import header %}

"""{{ header() }}
"""

{% from "models/_model.py.jinja" import build_model %}

from __future__ import annotations

from githubkit.compat import model_rebuild

{% for model in models %}
{% for import_ in model.get_model_imports() %}
{{ import_ }}
{% endfor %}
{% endfor %}

{# model #}
{% for model in models %}

{{ build_model(model) }}

{% endfor %}

{% for model in models %}
model_rebuild({{ model.class_name }})
{% endfor %}

__all__ = [
    {% for model in models %}
    "{{ model.class_name }}",
    {% endfor %}
]
