{% from "header.jinja" import header %}

"""{{ header() }}
See https://github.com/github/rest-api-description for more information.
"""

{% from "models/_model.py.jinja" import build_model %}

from __future__ import annotations

from pydantic import BaseModel, Extra

{% for model in models %}
{% for import_ in model.get_model_imports() %}
{{ import_ }}
{% endfor %}
{% endfor %}

class GitHubRestModel(BaseModel, extra=Extra.allow, allow_population_by_field_name=True):
    ...

{# model #}
{% for model in models %}

{{ build_model(model, "GitHubRestModel") }}

{% endfor %}

{% for model in models %}
{{ model.class_name }}.update_forward_refs()
{% endfor %}

__all__ = [
    "GitHubRestModel",
    {% for model in models %}
    "{{ model.class_name }}",
    {% endfor %}
]
