{% from "header.jinja" import header %}

"""{{ header() }}"""

from typing import TYPE_CHECKING

if TYPE_CHECKING:
    {% for group in groups %}
    {% for model in group.models %}
    from .{{ group_name(group, groups) }} import {{ model.get_param_type_string() }} as {{ model.get_param_type_string() }}
    from .{{ group_name(group, groups) }} import {{ model.get_response_type_string() }} as {{ model.get_response_type_string() }}
    {% endfor %}
    {% endfor %}
else:
    __lazy_vars__ = {
        {% for group in groups %}
        ".{{ group_name(group, groups) }}": (
            {% for model in group.models %}
            "{{ model.get_param_type_string() }}",
            "{{ model.get_response_type_string() }}",
            {% endfor %}
        ),
        {% endfor %}
    }
