{% from "header.jinja" import header %}

"""{{ header() }}
"""

{% from "models/_docstring.py.jinja" import build_model_docstring %}

from __future__ import annotations

{% for model in models %}
{% for import_ in model.get_type_imports() %}
{{ import_ }}
{% endfor %}
{% endfor %}

{# model #}
{% for model in models %}

class {{ model.class_name }}Type(TypedDict):
    {{ build_model_docstring(model) | indent(4) }}

    {% for prop in model.properties %}
    {{ prop.get_type_defination() }}
    {% endfor %}

{% endfor %}

__all__ = (
  {% for model in models %}
  "{{ model.class_name }}Type",
  {% endfor %}
)
