{% from "header.jinja" import header %}

"""{{ header() }}
"""

from typing import Dict, Union
from typing_extensions import TypeAlias, Annotated

from pydantic import Field

from githubkit.compat import GitHubModel

{% for webhook in webhooks %}
{% for import_ in webhook.event_schema.get_using_imports() %}
{{ import_ }}
{% endfor %}
{% endfor %}

{% if webhooks | length > 1 %}
{{ pascal_case(name) }}Event: TypeAlias = Annotated[Union[
    {% for webhook in webhooks %}
    {{ webhook.event_schema.get_type_string() }},
    {% endfor %}
], Field(discriminator="action")]
{% else %}
{{ pascal_case(name) }}Event: TypeAlias = {{ (webhooks | first).event_schema.get_type_string() }}
{% endif %}

{% if webhooks | length > 1 %}
{{ name }}_action_types: Dict[str, GitHubModel] = {
    {% for webhook in webhooks %}
    "{{ webhook.action }}": {{ webhook.event_schema.get_type_string() }},
    {% endfor %}
}
{% else %}
{{ name }}_action_types = {{ (webhooks | first).event_schema.get_type_string() }}
{% endif %}

__all__ = (
    "{{ pascal_case(name) }}Event",
    "{{ name }}_action_types"
)
