name: Pyright Lint

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - "githubkit/**"
      - "tests/**"
      - "codegen/**"
      - ".github/actions/setup-python/**"
      - ".github/workflows/pyright.yml"
      - "pyproject.toml"
      - "uv.lock"

jobs:
  lint-githubkit:
    name: GitHubKit Lint
    runs-on: ubuntu-latest
    concurrency:
      group: pyright-${{ github.ref }}-${{ matrix.env }}
      cancel-in-progress: true
    strategy:
      matrix:
        env: [pydantic-v1, pydantic-v2]
      fail-fast: false

    steps:
      - uses: actions/checkout@v6

      - name: Setup Python environment
        uses: ./.github/actions/setup-python
        with:
          env-group: ${{ matrix.env }}

      - run: |
          echo "$(dirname $(uv python find))" >> $GITHUB_PATH
          if [ "${{ matrix.env }}" = "pydantic-v1" ]; then
            sed -i 's/PYDANTIC_V2 = true/PYDANTIC_V2 = false/g' ./pyproject.toml
          fi
        shell: bash

      - name: Run Pyright
        uses: jakebailey/pyright-action@v2
        with:
          pylance-version: latest-release
          extra-args: githubkit

  lint-codegen:
    name: Codegen Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Python environment
        uses: ./.github/actions/setup-python

      - run: |
          echo "$(dirname $(uv python find))" >> $GITHUB_PATH
        shell: bash

      - name: Run Pyright
        uses: jakebailey/pyright-action@v2
        with:
          working-directory: ./codegen
          pylance-version: latest-release
